.card_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
    top: 288px;
    left: 508px;
    width: 266px;
    height: 270px;
    background: transparent linear-gradient(180deg, #E9F1FA 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 9px #8395A766;
    border-radius: 10px;
    opacity: 1;

    .card_image{
        width: 164px;
        height: 158px;
    }

    .card_icons{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
  
}