.footer_container {
    background: $footer_background;
    height: 167px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    .footer_image{
        width: 536px;
        height: 248px;
    }
}