.footer_container {
    background: $footer_background;
    height: 116px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .footer_image{
        width: 379px;
        height: 175px;
    }
}