.header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 69px;
    .header_title{
        color: $secondary;
        text-align: left;
        font: normal normal normal 40px/48px Monster Clubhouse;
        letter-spacing: 1.15px;
        text-transform: capitalize;
        opacity: 1;
        .header_title_complement{
            font: normal normal normal 40px/48px 'Poppins';
            color: $primary;
        }
    }

}