.navbar_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    .navbar_item{
        list-style-type: none;
        font-size: 13px;
        color: $secondary;
        &:hover{
            color: $primary;
            cursor: pointer;
        }
    }
    
}