// @include font ('../../assets/fonts/Monster\ Clubhouse.ttf');
@font-face {
  font-family: 'Monster Clubhouse',;
  src: url('../../assets/fonts/Monster\ Clubhouse.ttf');
}
@font-face {
  font-family: 'Poppins',;
  src: url('../../assets/fonts/Poppins-Regular.ttf');
}

body {
    margin: 0;
    font-family: 'Poppins', 'Monster Clubhouse',source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
      padding: 0;
      list-style: none;
      text-decoration: none;
      border: none;
      outline: none;
  }
